<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.algonquin.cst2335.finalproject">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject">

        <activity android:name="algonquin.cst2335.finalproject.Activity.AllSavedDataActivity"
            android:exported="true"/>


        <activity
            android:name="algonquin.cst2335.finalproject.Activity.SS_MainActivity"

            android:theme="@style/Theme.FinalProject"/>

        <activity
            android:name="algonquin.cst2335.finalproject.bz_RateActivity"
            android:theme="@style/Theme.FinalProject"></activity>


        <activity android:name="algonquin.cst2335.finalproject.bz_MainActivity"
            android:theme="@style/Theme.FinalProject"></activity>


        <activity android:name="algonquin.cst2335.finalproject.sv_MovieDetailsActivity"
            android:theme="@style/Theme.FinalProject"></activity>

        <activity android:name="algonquin.cst2335.finalproject.sv_AllSavedMovies"
            android:theme="@style/Theme.FinalProject"/>

        <activity
            android:name="algonquin.cst2335.finalproject.JJ_OCTranspoActivity"
            android:theme="@style/Theme.FinalProject"/>

        <activity android:name="algonquin.cst2335.finalproject.JJ_BusRouteDetails"
            android:theme="@style/Theme.FinalProject"/>

            <activity android:name="algonquin.cst2335.finalproject.JJ_Activity"
                android:theme="@style/Theme.FinalProject"/>

        <activity android:name="algonquin.cst2335.finalproject.Activity.MainActivity"
            android:theme="@style/Theme.FinalProject">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>